src/test/resources/schemaGuichetUnique.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://humanis.fr/esb/echanges/guichetunique/xsd"
            xmlns:tns="http://humanis.fr/esb/echanges/guichetunique/xsd">

    <!-- APPEL -->
    <xsd:complexType name="RetourAppel">
        <xsd:sequence>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="appelRetraite" nillable="true"
                         type="tns:AppelRetraite"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="appelPrevoyance" nillable="true"
                         type="tns:AppelPrevoyance"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AppelRetraite">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="anneePeriode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeEtat" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeEtatDeclAjustement" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeModeAppel" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeModePaiement" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeOptionSaisie" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codePeriodeReference" type="xsd:string"/>
            <xsd:element minOccurs="0" name="dateCreation" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateDebutPeriode" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateExigibilite" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateFinPeriode" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateLimiteRetour" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateMaj" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="id" type="xsd:string"/>
            <xsd:element minOccurs="0" name="idAppelOrigine" type="xsd:string"/>
            <xsd:element minOccurs="0" name="idEntiteGestionBST" type="xsd:string"/>
            <xsd:element minOccurs="0" name="idRefDocUtilisateur" type="xsd:string"/>
            <xsd:element minOccurs="0" name="idRegroupement" type="xsd:string"/>
            <xsd:element minOccurs="0" name="idTiers" type="xsd:string"/>
            <xsd:element minOccurs="0" name="iddocapp" type="xsd:string"/>
            <xsd:element minOccurs="0" name="indicateurCreationModif" type="xsd:string"/>
            <xsd:element minOccurs="0" name="numOrdreSsEnsMandataire" type="xsd:int"/>
            <xsd:element minOccurs="0" name="typeAppel" type="xsd:string"/>
            <xsd:element minOccurs="0" name="typeAppelOrigine" type="xsd:string"/>
            <xsd:element minOccurs="0" name="typeRegroupement" type="xsd:string"/>
            <xsd:element minOccurs="0" name="typeSupportEnvoi" type="xsd:string"/>
            <xsd:element minOccurs="0" name="typeSupportRetour" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="lignesAppel" nillable="true"
                         type="tns:LigneAppelRetraite"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LigneAppelRetraite">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="anneePeriode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeAssiette" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeCPILibre" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeCPINorm" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeCPN" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeEtatLigne" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeGarantie" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeModeCalculCotis" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeNiveauLigne" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codePeriode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeRegroupGarantie" type="xsd:string"/>
            <xsd:element minOccurs="0" name="dateCreation" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateDebutPeriode" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateFinPeriode" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateMaj" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="idPopulation" type="xsd:string"/>
            <xsd:element minOccurs="0" name="idSousCompte" type="xsd:string"/>
            <xsd:element minOccurs="0" name="indicateurCreationModif" type="xsd:string"/>
            <xsd:element minOccurs="0" name="libelleNiveauLigne" type="xsd:string"/>
            <xsd:element minOccurs="0" name="montantAffecteCotisExercice" type="xsd:long"/>
            <xsd:element minOccurs="0" name="montantBase" type="xsd:long"/>
            <xsd:element minOccurs="0" name="montantForfaitAppele" type="xsd:long"/>
            <xsd:element minOccurs="0" name="montantLigne" type="xsd:long"/>
            <xsd:element minOccurs="0" name="noligfac" type="xsd:string"/>
            <xsd:element minOccurs="0" name="nombreForfait" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="numHistoEtat" type="xsd:int"/>
            <xsd:element minOccurs="0" name="numInstitution" type="xsd:string"/>
            <xsd:element minOccurs="0" name="numLigneIni" type="xsd:string"/>
            <xsd:element minOccurs="0" name="tauxAppele" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="typeAppel" type="xsd:string"/>
            <xsd:element minOccurs="0" name="typeInstitution" type="xsd:string"/>
            <xsd:element minOccurs="0" name="typeTarifCotis" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="AppelPrevoyance">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="annee" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="lignes" nillable="true"
                         type="tns:LigneAppelPrevoyance"/>
            <xsd:element minOccurs="0" name="periode" type="xsd:string"/>
            <xsd:element minOccurs="0" name="siret" type="xsd:string"/>
            <xsd:element minOccurs="0" name="statut" type="xsd:string"/>
            <xsd:element minOccurs="0" name="type" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="LigneAppelPrevoyance">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="codeAssiette" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="details" nillable="true"
                         type="tns:DetailTranchePrevoyance"/>
            <xsd:element minOccurs="0" name="population" type="xsd:string"/>
            <xsd:element minOccurs="0" name="taux" type="xsd:decimal"/>
            <xsd:element minOccurs="0" name="tauxAppele" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="DetailTranchePrevoyance">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="formule" type="xsd:string"/>
            <xsd:element minOccurs="0" name="rubrique" type="xsd:string"/>
            <xsd:element minOccurs="0" name="taux" type="xsd:decimal"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- CRITERES DE RECHERCHE APPEL -->
    <xsd:complexType name="AppelCriteria">
        <xsd:sequence>
            <!-- COMMUN -->
            <xsd:element minOccurs="1" maxOccurs="1" name="metier" type="tns:MetierAppel"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="codePeriode" type="xsd:string"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="anneePeriode" type="xsd:string"/>

            <!-- Specifique RETRAITE -->
            <xsd:element minOccurs="0" maxOccurs="1" name="uec" type="xsd:string"/>

            <!-- Specifique PREVOYANCE -->
            <xsd:element minOccurs="0" maxOccurs="1" name="siren" type="xsd:string"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="nic" type="xsd:string"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="detailPrevoyance" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="MetierAppel">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PREVOYANCE"/>
            <xsd:enumeration value="RETRAITE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!-- UEC -->
    <xsd:complexType name="UEC">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="codeMotifFin" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeTypeObjetGestion" type="xsd:string"/>
            <xsd:element minOccurs="0" name="dateCreation" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateDebutEffet" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateFinEffet" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateMaj" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="idFoncAdhr" type="xsd:string"/>
            <xsd:element minOccurs="0" name="idTechPublie" type="xsd:int"/>
            <xsd:element minOccurs="0" name="idTechUrAdhr" type="xsd:int"/>
            <xsd:element minOccurs="0" name="indicateurAnnulation" type="xsd:string"/>
            <xsd:element minOccurs="0" name="libelle" type="xsd:string"/>
            <xsd:element minOccurs="0" name="noOrdAdhs" type="xsd:short"/>
            <xsd:element minOccurs="0" name="noOrdUec" type="xsd:int"/>
            <xsd:element minOccurs="0" name="noRefGPS" type="xsd:string"/>
            <xsd:element minOccurs="0" name="utilisateurDeCreation" type="xsd:string"/>
            <xsd:element minOccurs="0" name="utilisateurMaj" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- CRITERES DE RECHERCHE UEC -->
    <xsd:complexType name="UECCriteria">
        <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="siren" type="xsd:string"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="nic" type="xsd:string"/>
            <xsd:element minOccurs="1" maxOccurs="1" name="anneePeriode" type="xsd:string"/>
            <xsd:element minOccurs="1" maxOccurs="1" name="codePeriode" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- ETABLISSEMENT ET ENTREPRISE -->
    <xsd:complexType name="Etablissement">

    </xsd:complexType>

    <xsd:complexType name="EtablissementRe">
        <xsd:complexContent>
            <xsd:extension base="tns:EtablissementRet">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="EtablissementRet">
        <xsd:complexContent>
            <xsd:extension base="tns:EtablissementRetr">
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="EtablissementRetr">
        <xsd:complexContent>
            <xsd:extension base="tns:Etablissement">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="codeActivitePrincipale" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="codeConventionCollApplicable" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="codeConventionCollAppliquee" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="codeMotifCreation" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="codeMotifFermeture" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="codeOrigineEntite" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="codeSyndicatPro" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="codeTypeIdExterne" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="dateAnnulation" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateCreation" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateCreation_1" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateDebutConventionCollApplicable" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateDebutConventionCollAppliquee" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateDebutEnseigne" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateDebutSiegeSocial" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateDebutSyndicatPro" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateDebutSyndicatPro_1" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateEffetActivitePrincipale" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateEffetIdExterne" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateFermeture" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateFinConventionCollApplicable" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateFinConventionCollAppliquee" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateFinEnseigne" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateFinSiegeSocial" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="dateMaj" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="entreprise" type="tns:Entreprise"/>
                    <xsd:element minOccurs="0" name="id" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="idExterne" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="idFonctionnel" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="idTechUrEtab" type="xsd:int"/>
                    <xsd:element minOccurs="0" name="indicateurAdherent" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="indicateurEligibiliteMajAura" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="indicateurSiegeSocial" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="libelleEnseigne" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="timestampFonctionnel" type="xsd:dateTime"/>
                    <xsd:element minOccurs="0" name="utilisateurDeCreation" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="utilisateurMaj" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="utilisateurMajFonctionnel" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="EtablissementPrev">
        <xsd:complexContent>
            <xsd:extension base="tns:Etablissement">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="acBranche" type="xsd:unsignedShort"/>
                    <xsd:element minOccurs="0" name="adresse1" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="adresse2" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="cape" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="cccn" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="codeExterne" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="correspondant" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="cp" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="csensible" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="daffil" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="dresil" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="entreprise" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="fax" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="fille" type="xsd:unsignedShort"/>
                    <xsd:element minOccurs="0" name="groupe" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="id" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="libelleEntr" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="mandataire" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="mere" type="xsd:unsignedShort"/>
                    <xsd:element minOccurs="0" name="modRegl" type="xsd:unsignedShort"/>
                    <xsd:element minOccurs="0" name="rattach" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="reglGroup" type="xsd:unsignedShort"/>
                    <xsd:element minOccurs="0" name="responsable" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="siret" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="sousCpt" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="telephone" type="xsd:string"/>
                    <xsd:element minOccurs="0" name="ville" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:complexType name="Entreprise">
        <xsd:sequence>
            <xsd:element minOccurs="0" name="codeActivitePrincipale" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeCatJuridique" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeFormeJuridique" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeMotifCreationEntreprise" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeMotifFermetureEntreprise" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeOrigineEntite" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeSectionPro" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeSexe" type="xsd:string"/>
            <xsd:element minOccurs="0" name="codeTypeIdExterne" type="xsd:string"/>
            <xsd:element minOccurs="0" name="dateAnnulation" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateCreation" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateCreationEntreprise" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateDebutEffetSigle" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateEffetActivitePrincipale" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateEffetCatJuridique" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateEffetFormeJuridique" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateEffetIdExterne" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateEffetRaisonSociale" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateFermeture" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateFinEffetSigle" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="dateMaj" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="id" type="xsd:int"/>
            <xsd:element minOccurs="0" name="idExterne" type="xsd:string"/>
            <xsd:element minOccurs="0" name="idFonctionnel" type="xsd:int"/>
            <xsd:element minOccurs="0" name="idTechUrEntp" type="xsd:int"/>
            <xsd:element minOccurs="0" name="indicateurEligibiliteMajAura" type="xsd:string"/>
            <xsd:element minOccurs="0" name="indicateurEligibiliteSommeil" type="xsd:string"/>
            <xsd:element minOccurs="0" name="indicateurGrandCompte" type="xsd:string"/>
            <xsd:element minOccurs="0" name="indicateurSensibilite" type="xsd:string"/>
            <xsd:element minOccurs="0" name="indicateurSommeil" type="xsd:string"/>
            <xsd:element minOccurs="0" name="libelleSigle" type="xsd:string"/>
            <xsd:element minOccurs="0" name="raisonSociale" type="xsd:string"/>
            <xsd:element minOccurs="0" name="raisonSocialeAbrg" type="xsd:string"/>
            <xsd:element minOccurs="0" name="timestampFonctionnel" type="xsd:dateTime"/>
            <xsd:element minOccurs="0" name="utilisateurDeCreation" type="xsd:string"/>
            <xsd:element minOccurs="0" name="utilisateurMaj" type="xsd:string"/>
            <xsd:element minOccurs="0" name="utilisateurMajFonctionnel" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>


    <!-- CRITERES DE RECHERCHE ETABLISSEMENT -->
    <xsd:complexType name="EtablissementCriteria">
        <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="metier" type="tns:MetierAppel"/>

            <!-- RETRAITE -->
            <xsd:element minOccurs="0" maxOccurs="1" name="anneePeriode" type="xsd:string"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="codePeriode" type="xsd:string"/>
            <xsd:element minOccurs="0" maxOccurs="1" name="uec" type="xsd:string"/>

            <!-- PREV -->
            <xsd:element minOccurs="0" maxOccurs="1" name="siren" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- CRITERES DE RECHERCHE ENTREPRISE -->
    <xsd:complexType name="EntrepriseCriteria">
        <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="siren" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>

